@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);

* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', 'Noto Sans JP', sans-serif;
}

body {
  padding: 10px;
  text-align: justify;
}

#btn-erea span {
  font-size: 14pt;
  font-weight: 900;
  margin: 5px 0;
}

#infobox {
  background: #333333;
  color: #eeeeee;
  padding: 10px;
  font-size: 12pt;
  margin-bottom: 20px;
}

#infobox p {
  text-align: justify;
  line-height: 1.5;
}

#infobox a {
  color: #90cdff;
  text-decoration: none;
}

#infobox a:hover {
  text-decoration: underline;
  color: #0a91ff;
}

input {
  padding: 8px;
  background: #555555;
  color: #eeeeee;
  font-size: 10pt;
  text-align: center;
  border: 0 solid #333333;
  margin: 2px;
  border-radius: 10px;
}

input:hover {
  background: #222222;
}

#btn-erea {
  margin-bottom: 20px;
}

hr {
  height: 2px;
  background: #333333;
}

#btnresult {
  color: #333333;
  font-size: 20pt;
  margin-top: 20px;
  font-weight: 500;
  text-align: center;
}

.color {
  color: #cf4444;
}

.colorplate {
  width: 200px;
  height: 40px;
  display: inline-block;
  margin-top: 10px;
}

.colorplate2 {
  width: 100px;
  height: 100px;
  margin-top: 10px;
	border-radius: 20px;
	border: 1px solid #000000;
}

.colorbox {
	margin: 10px 2.5px 0 2.5px;
	display: inline-block;
}

.wordbox {
  margin-top: 10px;
}

#colorcode {
  margin-top: -10px;
  color: #333333;
  font-size: 10pt;
  font-weight: 500;
}

.colorcode {
  color: #333333;
  font-size: 12pt;
  font-weight: 500;
}

#topdescname {
  text-align: justify;
}